/* Keyframes */

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    max-height: 100%;
    opacity: 0;
  }

  100% {
    max-height: 0;
  }
}

@keyframes fadeUpOut {
  0% {
    transform: scale(1,1);
  }

  50% {
    max-height: 100%;
    opacity: 0;
    transform: scale(2,2);
  }

  99% {
    max-height: 100%;
    opacity: 0;
    transform: scale(2,2);
  }

  100% {
    max-height: 0;
    opacity: 0;
  }
}

@keyframes fadeUpOutCentered {
  0% {
    transform: translateY(-50%) translateX(-50%) scale(1,1);
  }

  50% {
    max-height: 100%;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%) scale(2,2);
  }

  99% {
    max-height: 100%;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%) scale(2,2);
  }

  100% {
    max-height: 0;
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes growIn {
  0% {
    max-height: 0;
  }

  100% {
    max-height: 100em;
  }
}

@keyframes growAndFadeIn {
  0% {
    max-height: 0;
    opacity: 0;
  }

  50% {
    max-height: 100em;
  }

  100% {
    max-height: 100em;
    opacity: 1;
  }
}

@keyframes fadeInHalf {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes widenIn {
  from {
    transform: scale(0,0);
  }

  to {
    transform: scale(1,1);
  }
}

@keyframes shimmer {
  from {
    background-position: 100% 100%;
  }

  to {
    background-position: 0 0;
  }
}

/* Tags */

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.25);
  transition: border-color 0.5s;
}

a:hover {
  border-bottom-color: rgba(255,255,255,0.75);
}

body ::-moz-selection {
  background: rgba(0,175,163,0.25);
}

body ::selection {
  background: rgba(0,175,163,0.25);
}

body {
  background: linear-gradient(#00AFA3, #8D00FF);
  background-attachment: fixed;
  background-repeat: no-repeat;
  cursor: default;
  font-family: "Avenir Light", Avenir-Light, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-user-select: none;
}

body, body > * {
  min-width: 20em;
}

body, body * {
  text-rendering: geometricPrecision;
}

body::before {
  animation: fadeOut 0.5s forwards;
  background: #2D0052;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: none;
  z-index: 100;
}

button {
  background: #ff8e00;
  border-radius: 0.5em;
  border: none;
  box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.1);
  color: #ffffff;
  cursor: pointer;
  position: relative;
  transition: color 1s, background-color 0.5s;
}

button:hover {
  background: #FFB800;
}

button.pending {
  color: rgba(255,255,255,0.75);
  cursor: default;
}

button.pending::before {
  animation: shimmer 0.75s infinite linear;
  animation-fill-mode: forwards;
  background: linear-gradient(120deg, rgba(255,255,255,0.25), transparent, rgba(255,255,255,0.25), transparent, rgba(255,255,255,0.25));
  background-size: 200% 200%;
  border-radius: 0.5em;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

form {
  margin: auto;
  max-width: 28em;
}

input, button {
  box-sizing: border-box;
  font-size: 1.5em;
  padding: 0.75em 1em;
  text-align: center;
  width: 100%;
  font-family: "Avenir Light", Avenir-Light, sans-serif;
  transition: background-color 0.5s;
  outline: none;
  display: block;
  line-height: 1em;
}

input {
  border: none;
  background: #ffffff;
  border-radius: 0.5em 0.5em 0 0;
  transition: padding 0.5s;
}

input:focus {
  padding: 1em;
}

input:-ms-input-placeholder {
  color: rgba(0,0,0,0.25);
  transition: color 0.5s;
}

input::-moz-placeholder {
  color: rgba(0,0,0,0.25);
  transition: color 0.5s;
}

input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.25);
  transition: color 0.5s;
}

p {
  color: #ffffff;
  font-size: 2em;
  line-height: 1.2em;
  margin: 1em 0 0 0;
}

p:first-child {
  margin-top: 0;
}

@media (max-width: 40em) {
  p {
    font-size: 1.5em;
  }
}

section {
  box-sizing: border-box;
  left: 50%;
  width: 40em;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 2;
}

@media (max-width: 40em) {
  section {
    left: 0;
    max-width: none;
    position: relative;
    top: auto;
    transform: none;
    width: 100%;
  }
}

body.exceeds-viewport-height section {
  position: relative;
  top: auto;
  transform: translateX(-50%);
}

@media (max-width: 40em) {
  body.exceeds-viewport-height section {
    transform: none;
  }
}

/* Standards */

.standard-logo {
  animation: fadeInHalf 0.5s forwards ease-out;
  display: block;
  margin: auto;
  opacity: 0.5;
  transition: transform 0.5s;
  width: 8em;
}

@media (max-width: 416px) {
  .standard-logo {
    width: 6em;
  }
}

@media (max-width: 320px) {
  .standard-logo {
    width: 4em;
  }
}

.standard-logo:hover {
  transform: scale(1.1,1.1);
}

/* Intro prompt and contact verification request */

section.intro-prompt {
  box-sizing: border-box;
  padding: 6em 0;
}

@media (max-width: 40em) {
  section.intro-prompt,
  section.contact-verification-request {
    height: calc(100% - 6em);
    padding: 3em 0;
  }
}

section.intro-prompt div.intro-prompt-interior {
  animation: growIn 1s forwards ease-in-out;
  animation-delay: 0.5s;
  max-height: 0;
}

@media (min-width: 30em) {
  section.intro-prompt div.intro-prompt-interior {
    padding: 0 1em;
  }
}

section.intro-prompt .standard-logo,
section.contact-verification-request .standard-logo {
  animation: widenIn 0.5s forwards ease-out;
  margin-bottom: 4em;
}

@media (max-width: 416px) {
  section.intro-prompt .standard-logo,
  section.contact-verification-request .standard-logo {
    margin-bottom: 3em;
  }
}

@media (max-width: 320px) {
  section.intro-prompt .standard-logo,
  section.contact-verification-request .standard-logo {
    margin-bottom: 2em;
  }
}

section.intro-prompt {
  z-index: 2;
}

section.intro-prompt .error, 
section.contact-verification-request .error {
  animation: growAndFadeIn 2s forwards;
  max-width: 28em;
  margin: auto;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  padding: 2em;
  box-sizing: border-box;
  margin-bottom: 2em;
  margin-top: -1em;
  overflow: hidden;
}

@media (max-width: 40em) {
  section.intro-prompt .error, 
  section.contact-verification-request .error {
    padding: 1em;
  }
}

section.intro-prompt .error p, section.contact-verification-request .error p {
  font-size: 1.5em;
  margin: 2em 0 0 0;
}

@media (max-width: 40em) {
  section.intro-prompt .error p, 
  section.contact-verification-request .error p {
    font-size: 1em;
    margin-top: 1em;
  }
}

section.intro-prompt .error p:first-child, section.contact-verification-request .error p:first-child {
  margin-top: 0;
}

section.intro-prompt, section.contact-verification-request {
  opacity: 1;
}

section.intro-prompt.hidden, section.contact-verification-request.hidden {
  animation: fadeUpOutCentered 0.5s forwards;
  overflow: hidden;
}

body.exceeds-viewport-height section.intro-prompt.hidden, 
body.exceeds-viewport-height section.contact-verification-request.hidden {
  animation: fadeUpOut 0.5s forwards;
}

@media (max-width: 40em) {
  section.intro-prompt.hidden, 
  section.contact-verification-request.hidden {
    animation: fadeUpOut 0.5s forwards;
  }
}

section.intro-prompt form,
section.contact-verification-request form {
  margin-top: 3em;
}

section.intro-prompt div.intro-prompt-interior > p, 
section.intro-prompt form>input, 
section.intro-prompt form>button {
  opacity: 0;
  animation: fadeIn 2s forwards;
  animation-delay: 0.5s;
}

@media (max-width: 40em) {
  div.intro-prompt-interior > p,
  section.contact-verification-request > p {
    font-size: 1.5em;
    margin: 1em 0 1.5em 0;
    padding: 0 0.75em;
  }
}

@media (max-width: 28em) {
  section.intro-prompt form>input, 
  section.intro-prompt form>button,
  section.contact-verification-request form>input, 
  section.contact-verification-request form>button {
    border-radius: 0;
  }
}

section.intro-prompt button {
  border-radius: 0 0 0.5em 0.5em;
  border-top: 1px solid #e47f00;
  opacity: 0.5;
}

section.intro-prompt button::after {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url(/assets/send-icon.svg);
  background-size: auto 100%;
  opacity: 0.75;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 0.5em;
  margin-top: -0.2em;
}

@media (min-width: 27em) {
  section.intro-prompt button::after {
    content: '';
  }
}

section.intro-prompt button.pending::before {
  border-radius: 0 0 0.5em 0.5em;
}

section.intro-prompt-success, 
section.contact-verification-request-success {
  background: rgba(255,255,255,0.05);
  display: none;
  max-height: 100em;
  opacity: 0;
  padding: 3em;
  transition: opacity 0.5s;
  z-index: 1;
}

section.intro-prompt-success.shown, 
section.contact-verification-request-success.shown {
  opacity: 1;
}

@media (max-width: 40em) {
  section.intro-prompt-success, 
  section.contact-verification-request-success {
    opacity: 0;
    padding: 2em;
  }
}

/* Footer */

footer {
  animation: fadeIn 2s forwards;
  animation-delay: 0.5s;
  bottom: 0;
  height: 4em;
  left: 0;
  opacity: 0;
  position: fixed;
  width: 100%;
}

@media (min-width: 40em) {
  body.exceeds-viewport-height footer {
    position: relative;
    bottom: auto;
  }
}

footer div {
  color: rgba(255,255,255,0.5);
}

footer div:nth-child(1) {
  left: 3em;
  position: absolute;
  top: 0;
}

footer div:nth-child(2) {
  right: 3em;
  position: absolute;
  top: 0;
}

footer a {
  color: rgba(255,255,255,0.5);
  transition: color 0.5s, border-color 0.5s;
}

footer a:hover {
  color: rgba(255,255,255,1);
}

@media (max-width: 40em) {
  footer {
    bottom: 0;
    box-sizing: border-box;
    height: 6em;
    position: absolute;
  }

  footer div:nth-child(1), footer div:nth-child(2) {
    bottom: auto;
    font-size: 0.85em;
    left: auto;
    margin-bottom: 1.5em;
    right: auto;
    position: relative;
    top: auto;
  }
}